<% content_for :title, "Editing loan repayment" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing loan repayment</h1>

  <%= render "form", loan_repayment: @loan_repayment %>

  <%= link_to "Show this loan repayment", @loan_repayment, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to loan repayments", loan_repayments_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
