<div id="<%= dom_id account %>">
  <p>
    <strong>Member:</strong>
    <%= account.member_id %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

</div>
